parameters:
    level: 7
    treatPhpDocTypesAsCertain: false
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    excludePaths:
        - %currentWorkingDirectory%/tests/InvoiceMagicMethodsTest.php
        - %currentWorkingDirectory%/tests/InvoiceItemMagicMethodsTest.php
    earlyTerminatingMethodCalls:
    		Serato\InvoiceQueue\SqsQueue:
    			- throwQueueSendException