<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="common">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <groups>
    <exclude>
      <group>aws-integration</group>
    </exclude>
  </groups>
</phpunit>